.iFrame .html5-video-player {
  height: 80% !important;
}
.search-wrapper {
  max-width: 300px;
}
.search-wrapper input {
  transition: 0.3s width ease;
  width: 120px;
}
.search-wrapper input:focus {
  width: 250px;
}

body {
  background-color: #141414;
}
.ytp-embed .ytp-chrome-bottom {
  display: none !important;
}

@media screen and (max-width: 500px) {
  .search-wrapper input:focus {
    width: 200px;
  }
}
